@{
    long totalCount = Model.TotalItemCount;
    long currentPage = Model.Page;
    long perPage = Model.PageSize;
    long pagesCount = (totalCount / perPage) + ((totalCount % perPage) == 0 ? 0 : 1);

    long prevPage = (currentPage == 1) ? 1 : (currentPage - 1);
    long nextPage = (currentPage == pagesCount) ? pagesCount : (currentPage + 1);

    var previous = "<";
    var first = "<<";
    var next = ">";
    var last = ">>";
}
@if (pagesCount > 1)
{
    <nav class="pagination no-border">
        <a href="?page=1" class="item @if (currentPage <= 1) {<text>disabled</text>}">
            @first
        </a>
        <a href="?page=@prevPage" class="item @if(currentPage <= 1){<text>disabled</text>}">
            @previous
        </a>
        @for (int i = 1; i <= pagesCount; i++)
        {
            if (i == currentPage)
            {
                <span class="item current">@i</span>
            }
            else
            {
                <a class="item" href="?page=@i">@i
                </a>
            }
        }
        <a href="?page=@nextPage" class="item @if (currentPage >= pagesCount) {<text>disabled</text>}">
            @next
        </a>
        <a href="?page=@pagesCount" class="item @if (currentPage >= pagesCount) {<text>disabled</text>}">
            @last
        </a>
    </nav>
}